@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background: url(/background.svg);
    background-position-y: 25%;
    background-position-x: 43%;
    background-repeat: no-repeat;
  } */
  body{
   scroll-behavior: smooth;
  }